<div class="home day">
  <div class="container">
    <div class="search">
      <input type="search" placeholder="Search for a city">
      <button>
        <img src="assets/images/loupe.svg" width="24px" alt="search">
      </button>
    </div>
    <div class="glass">
      <div class="weather-data">
        <span class="location">New York</span>
        <div style="display: flex; align-items: center;">
          <img class="weather-icon" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png" alt="sunny">
          <strong class="temperature">12°</strong>
        </div>
        <span class="weather-description">Sunny</span>
        <div class="details">
          <div>
            <img src="assets/images/wind.svg" alt="ssw">
            <div>
              <span>Wind Speed</span>
              <strong>7 Km/h</strong>
            </div>
          </div>
          <div>
            <img src="assets/images/gauge.svg" alt="ssw">
            <div>
              <span>Pressure</span>
              <strong>1005 hPa</strong>
            </div>
          </div>
          <div>
            <img src="assets/images/humidity.svg" alt="humidity">
            <div>
              <span>Humidity</span>
              <strong>60%</strong>
            </div>
          </div>
          <div>
            <img src="assets/images/thermometer.svg" alt="ssw">
            <div>
              <span>Feels Like</span>
              <strong>10°</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>