<div class="home" 
  [class.day]="weather && weather.current.is_day == 'yes'"
  [class.night]="weather && weather.current.is_day == 'no'"
>
  <div class="container">
    <div class="search">
      <input 
        [(ngModel)]="city" 
        (keydown.enter)="search()" 
        type="search" 
        placeholder="Search for a city"
        required
      >
      <button (click)="search()">
        <img src="assets/images/loupe.svg" width="24px" alt="search">
      </button>
    </div>
    <div class="glass">
      <div *ngIf="weather" class="weather-data">
        <span class="location">{{weather.location.name}}, {{weather.location.country}}</span>
        <div style="display: flex; align-items: center;">
          <img class="weather-icon" [src]="weather.current.weather_icons" alt="sunny">
          <strong class="temperature">{{weather.current.temperature}}°</strong>
        </div>
        <span class="weather-description">{{weather.current.weather_descriptions}}</span>
        <div class="details">
          <div>
            <img src="assets/images/wind.svg" alt="ssw">
            <div>
              <span>Wind Speed</span>
              <strong>{{weather.current.wind_speed}} Km/h</strong>
            </div>
          </div>
          <div>
            <img src="assets/images/gauge.svg" alt="ssw">
            <div>
              <span>Pressure</span>
              <strong>{{weather.current.pressure}} hPa</strong>
            </div>
          </div>
          <div>
            <img src="assets/images/humidity.svg" alt="humidity">
            <div>
              <span>Humidity</span>
              <strong>{{weather.current.humidity}}%</strong>
            </div>
          </div>
          <div>
            <img src="assets/images/thermometer.svg" alt="ssw">
            <div>
              <span>Feels Like</span>
              <strong>{{weather.current.feelslike}}°</strong>
            </div>
          </div>
        </div>
        <span>{{weather.location.localtime}}</span>
      </div>
    </div>
  </div>
</div>